<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Senhas
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Senha:</ion-label>
          <ion-input readonly="true" [(ngModel)]="senhasService.inputNovaSenha"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="senhasService.novaSenha('SG')">Senha Geral</ion-button>
  <ion-button expand="block" (click)="senhasService.novaSenha('SP')">Senhas Prioritárias</ion-button>
  <ion-button expand="block" (click)="senhasService.novaSenha('SE')">Senha Exame</ion-button>
</ion-content>
